<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I DO</h2>
                    <h3 class="section-subheading text-muted">Dream as if you'll live forever, Live as if you'll die today.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Physhical Fitness</h4>
                    <p class="text-muted">兵役をきっかけにフィジカル・フィットネス大会を目指してトレニングを行なっている。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Developer</h4>
                    <p class="text-muted">韓国、日本、アメリカを中心にウェブデベロッパーとして活動。使用言語：HTML5、CSS3、JavaScript、React。<br>予定</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Un:Limited</h4>
                    <p class="text-muted">青山学院大学所属の学生団体アン：リミティッドを２０１７年に立ち上げ、国内外のフィールドツアーやボランティア活動、
                    イベントの企画を行なっている。</p>
                </div>
            </div>
        </div>
    </section>
